{%extends 'base-templates/global/base.html'%}

{%block title%}Home{%endblock title%}

{% block content %}
        <div class="main-content-list">
            {%include 'main/partials/post.html' %}
            {%include 'main/partials/post.html' %}
            {%include 'main/partials/post.html' %}
            {%include 'main/partials/post.html' %}
            {%include 'main/partials/post.html' %}
            {%include 'main/partials/post.html' %}
            {%include 'main/partials/post.html' %}

        </div>
{%endblock content%}