{%include 'main/partials/home-head.html'%}
<body>
    {%include 'main/partials/home-header.html'%}

    <main class="question-main-container text">
        <div class="question-page-content-container">
            {%include 'main/partials/question-container.html'%}

            <div class="answer-main-container">
                {%include 'main/partials/answer-container.html'%}
                {%include 'main/partials/answer-container.html'%}
            </div>
        </div>

    </main>

</body>
</html>