<div class="answer-section-container">
    <div class="answer-container">

        <div class="answer-header" >
            <div class="answer-header-info">

                <a href="" class="answer-author-info">
                    <i class="fa-solid fa-user"></i>
                    <span class="question-user-button">{{answer.author}}</span>
                </a>
                <div class="answer-other-info">
                    <div class="answer-date">
                        <span class="question-date question-info ">
                            <i class="fa-solid fa-calendar-days"></i>
                            {{answer.created_at}}
                        </span>
                    </div>
                </div>
            
            </div>

            <div class="answer-body">
                <div class="answer-text">
                    <p class="answer-text">
                        {{answer.answer_text}}
                    </p>

                </div>
                {% if answer.answer_photo %}
                    <div class="answer-img">
                        <img class="answer-img" src="https://via.placeholder.com/600x400.png" alt="">
                    </div>
                {%endif%}
            </div>
            <div class="like-button-container">
                <button class="like-button">
                    <i class="fa-solid fa-thumbs-up answer-like-button"></i>
                    <p class="like-button-total-clicks">12</p>
                </button>
            </div>
        </div>

    </div>
</div>