<header class="main-page-header">
    <div class="main-page-header-container">
        <div class="main-page-header-flexbox">
            <a href="{% url 'home-page' %}" class="main-page-headline">Neomatik</a>
            <form action="" class="search-form">
                <input type="search" class="search-input" name="search" placeholder="Digite para pesquisar...">
                <button type="submit" class="search-button">
                    <i class="fa-solid fa-magnifying-glass  search-button-icon"></i>
                </button>
            </form>
            <a href="{% url 'home-page' %}" class="user-profile-button hidden-xs">
                <i class="fa-solid fa-user"></i>
                <span>Romeu B.</span>
            </a>
        </div>
    </div>
</header>