<div class="content-container">
    <div class="content-header">
        <div class="content-text">
            <div class="content-title">
                
                <h3 class="content-title">Lorem ipsum dolor sit</h3>
                <div class="content-category">
                    <a href="" class="content-category-button">Tag</a>
                </div>
            </div>
            
            <div class="content-info">
                <div class="content-user">
                    <a href="" class="content-user-button">
                        <i class="fa-solid fa-user"></i>
                        romeu.borges
                    </a>
                </div>
                <div class="content-date-info">
                    <i class="fa-solid fa-calendar-days"></i>
                    28/07/2022 às 23h59
                </div>
            </div>
                
            
        </div>
    </div>
    <div class="content-preview-container">
        <p class="content-preview">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed ut quaerat quos libero inventore autem nulla ipsam dolorem...</p>
    </div>
</div>