<div class="content-container">
    <div class="content-header">
        <div class="content-text">
            <div class="content-title">
                
                <a href="{% url "question-page" question.id %}" class="content-title">{{question.title}}</a>
                <div class="content-category">
                    <a href="" class="content-category-button">{{question.tag.name}}</a>
                </div>
            </div>
            
            <div class="content-info">
                <div class="content-user">
                    <a href="" class="content-user-button">
                        <i class="fa-solid fa-user"></i>
                        {{question.author.first_name}}
                    </a>
                </div>
                <div class="content-date-info">
                    <i class="fa-solid fa-calendar-days"></i>
                    {{question.created_at|date:"d/m/Y"}} às {{question.created_at|date:"H:i:s"}}
                </div>
            </div>
                
            
        </div>
    </div>
    <div class="content-preview-container">
        <p class="content-preview">{{question.question_text}}</p>
    </div>
</div>