<div class="question-section-container">
    <div class="question-header-container">
        <div class="question-headline">
            <h1 class="question-headline-text">
                {{question.title}}
            </h1>
        </div>
        <div class="question-info-container">
            <a href="" class="question-user-button question-info">
                <i class="fa-solid fa-user"></i>
                <span class="question-author">{{question.author.first_name}}</span>
            </a>
            <span class="question-date question-info ">
                <i class="fa-solid fa-calendar-days"></i>
                {{question.created_at}}
            </span>
            <span class="question-mod question-info hidden-xs">
                {{question.modified_at}}
            </span>
        </div>
    </div>

    <div class="question-body-container">
        <div class="question-body-text">
            <p class="question-text">
                {{question.question_text}}
            </p>
        </div>
        {%if question.question_photo %}
            <div class="question-body-img">
                <img src="https://via.placeholder.com/600x400.png" alt="" class="question-img">
            </div>
        {%endif%}
        <div class="content-category">
            <a href="" class="content-category-button">{{question.category}}</a>
        </div>
    </div>
</div>