<div class="question-section-container">
    <div class="question-header-container">
        <div class="question-headline">
            <h1 class="question-headline-text">{{question.title}}
            </h1>
        </div>
        <div class="question-info-container">
            <a href="" class="question-user-button question-info">
                <i class="fa-solid fa-user"></i>
                <span class="question-author">Romeu B.</span>
            </a>
            <span class="question-date question-info ">
                <i class="fa-solid fa-calendar-days"></i>
                28/07/2022
            </span>
            <span class="question-time question-info hidden-xs">
                <i class="fa-solid fa-clock"></i>
                23h59
            </span>
            <span class="question-mod question-info hidden-xs">
                Modified today
            </span>
        </div>
    </div>

    <div class="question-body-container">
        <div class="question-body-text">
            <p class="question-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse quas sequi earum facilis sed? Rem veritatis quos sit labore, aspernatur in modi harum vel obcaecati numquam exercitationem expedita, autem libero?<br/><br/>
                Voluptates facere accusamus earum recusandae adipisci quia optio unde voluptatibus inventore magni? Ea ut laboriosam sunt quae. Ipsum totam repellat qui expedita at sit ad explicabo? Sapiente veritatis quasi adipisci!
            </p>
        </div>
        <div class="question-body-img">
            <img src="https://via.placeholder.com/600x400.png" alt="" class="question-img">
        </div>
        <div class="content-category">
            <a href="" class="content-category-button">Tag</a>
        </div>
    </div>
</div>